# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/
env/

# PyCharm project settings
.idea/

# VS Code settings (если используешь)
.vscode/

# Git
.git/

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log
